.MotherDiv{
    width: 100%;
}
button {
    border: none;
    background: #0000ffbd;
    border-radius: 5px;
    padding: 5px 5px;
}

button a {
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    font-size: 18px;
}
.Googleform{
    width: 65%;
    margin:100px auto;
    border:1px solid rgb(109 103 103 / 30%);
    border-radius: 10px;
    margin-bottom: 20px;
}
.h2, h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}
p {
    font-size: 13px;
    color: #000000c4;
}
p {
    font-size: 13px;
    color: #000000c4;
}

span {
    font-size: 13px;
    color: #000000b8;
}
input{
    border: 1px solid #636060c4;
    border-radius: 3px;
}
.footer-menu{
    text-align: right;
}
.footer-menu ul{
    list-style: none;
}
.footer-menu ul li{
    display: inline-block;
}
.footer-menu ul li a{
    color: #302e2eb8;
    font-size: 13px;
    font-weight: 700;
    margin: 10px;
}